<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <!--
        Use Cases
        =========
        1. List the bugs - done
        2. Add a new bug - done
        3. Toggle the closed status of a bug - done
        4. Remove the closed bugs - done
        5. Display statistics - done
        5. Search for bugs - done
        6. Sort the bugs - done
        7. Improvise the bug display - done
        8. Persist the bugs in storage (localStorage)
            window.localStorage
            -------------------
            - key/value store
            - key and value should be strings
                (use angular.toJson() and angular.fromJson() for serialization and deserialization respectively)
            - apis
                setItem(key, value)
                getItem(key) //=> value
                removeItem(key)
                clear()
                key(index) // key at index
                length


        9. Display 'createdAt' for each bug
        10. Persist the bugs in the server
        --------------------------
        11. Categorize the bugs

    -->
    <style>
        section{
            margin-bottom: 10px;
        }
        .closed{
            color : red;
            text-decoration: line-through;
            font-style: italic;
            font-weight: bold;
        }
        .stats{
            font-size: 23pt;
        }
        li span{
            cursor: pointer;
        }
    </style>
    <script src="angular.js"></script>
    <script>
        var bugTrackerApp = angular.module("bugTrackerApp", []);


        bugTrackerApp.factory("Bug", function(){
            function BugClass(defaultValues){
                this.name = defaultValues.name || '';
                this.isClosed = defaultValues.isClosed || false;
            };
            BugClass.prototype.toggle = function(){
                this.isClosed = !this.isClosed;
            }
            return BugClass;
        });

       /* bugTrackerApp.filter("closedCount", function(){
            return function(bugs){
                return bugs.reduce(function(result, bug){
                   return bug.isClosed ? ++result : result;
               },0);
            }
        })*/
        bugTrackerApp.filter("closedCount", function($filter){
            var builtinFilter = $filter('filter');
            return function(bugs){
                return builtinFilter(bugs, {isClosed : true}).length;
            };
        });

        bugTrackerApp.value("defaultTrimLength", 30);

        bugTrackerApp.filter("trimText", function($filter, defaultTrimLength){
            var limitTo = $filter('limitTo');
            return function(text, trimLength){
                trimLength = trimLength || defaultTrimLength;
                return text.length < trimLength ? text : limitTo(text, trimLength) + '...';
            }
        });


        bugTrackerApp.controller("bugsController", function($scope, Bug){

            $scope.bugs = [
                new Bug({name : "Server communication failure", isClosed : false}),
                new Bug({name : "User authentication does not work", isClosed : true}),
                new Bug({name : "Data persistence fails", isClosed : false}),
            ];
            $scope.newBug = ''
            $scope.addNew = function(){
                var bug = new Bug({
                    name : $scope.newBug
                });
                $scope.bugs.push(bug);
                $scope.newBug = '';
            };
            $scope.toggleBug = function(bug){
                bug.toggle();
            };
            $scope.removeClosed = function(){
                for(var i=$scope.bugs.length-1; i>=0; i--)
                    if ($scope.bugs[i].isClosed)
                        $scope.bugs.splice(i,1);
            };
        });
    </script>
</head>
<body ng-app="bugTrackerApp">
    <h1>Bug Tracker</h1>
    <hr>
    <section class="bugs" ng-controller="bugsController">
        <section class="stats">
            <!--<span class="closed">{{ (bugs | filter:{isClosed : true}).length }}</span>-->
            <span class="closed">{{bugs | closedCount}}</span>
            <span> / </span>
            <span>{{bugs.length}}</span>
        </section>
        <section class="search">
            <label for="">Search :</label>
            <input type="text" ng-model="searchBug.name">
            <label for="">Is Closed ?</label>
            <input type="checkbox" ng-model="searchBug.isClosed">
            <input type="button" value="Show All" ng-click="searchBug.isClosed=undefined">
        </section>
        <section class="sort">
            <label for="">Order By:</label>
            <input type="text" name="" id="" ng-model="bugOrder.by">
            <label for="">Descending ? :</label>
            <input type="checkbox" ng-model="bugOrder.order">
        </section>
        <section class="list">
            <label for="">Bug :</label>
            <input type="text" ng-model="newBug">
            <input type="button" value="Add Bug" id="btnAddBug" ng-click="addNew()">
            <input type="button" value="Remove Closed" id="btnRemoveClosed" ng-click="removeClosed()">
            <ol>
               <li ng-repeat="bug in (bugs | filter:searchBug | orderBy:bugOrder.by:bugOrder.order)">
                   <span
                       ng-click="toggleBug(bug)"
                       ng-class="{closed : bug.isClosed}">
                        {{bug.name | trimText:20}}
                    </span>
               </li>
            </ol>
        </section>
    </section>

</body>
</html>
